@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
}

//------------------------------------------------------------Header Navigation
.header {
  background-image: url(../assets/images/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: $padding-block;
  background-color: $color-bg;
  color: $color-text-white;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu__logo {
      font-family: $font-main-bold;
      font-size: 22px;
      letter-spacing: 2px;
    }
    .menu__nav {
      font-family: $font-main-light;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      .nav__dropdown {
        position: relative;
        display: inline-block;
        .dropdown-link {
          padding: 8px;
          border: none;
          cursor: pointer;
          img {
            height: 8px;
          }
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #6564647e;
          width: 100%;
          // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          a {
            color: $color-text-white;
            padding: 12px 8px;
            text-decoration: none;
            display: block;
            cursor: pointer;
          }
          a:hover {
            background-color: #87878785;
          }
        }
      }
      .nav__dropdown:hover .dropdown-content {
        display: block;
      }
      .nav__dropdown:hover .dropdown-link {
        background-color: #6564647e;
      }
    }
    .menu__icons {
      width: 6vw;
      display: flex;
      justify-content: space-between;
    }
    .menu__button {
      a {
        @extend %button-link;
      }
    }
  }
}

//-------------------------------------------------------Header Slogan
.slogan {
  margin: 26vh 12vw 0px 12vw;
  text-align: center;
  .slogan__subtitle {
    font-family: $font-coursive;
    font-size: 50px;
  }
  .slogan__title {
    font-family: $font-main-reg;
    font-size: 46px;
    letter-spacing: 2px;
    margin-top: 0;
  }
  .slogan__text {
    font-family: $font-main-light;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .slogan__button {
    margin-top: 8vh;
    a {
      @extend %button-link;
    }
  }
}

//---------------------------------------------------------About
.container-about {
  padding: $padding-block;
  .container-about__title {
    padding: 8vh;
    text-align: center;
    .box-about__subtitle {
      font-family: $font-coursive;
      font-size: 50px;
      color: $color-text-grey-light;
    }
    .box-about__title {
      @include title-h2($color-text-blu);
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .box-about__text {
      font-family: $font-main-light;
      font-size: 14px;
      color: $color-text-grey;
      letter-spacing: 1px;
      line-height: 150%;
    }
  }
  .container-about__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box__desc {
      flex-basis: 36%;
      .desc__subtitle {
        font-family: $font-main-reg;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 130%;
        color: $color-text-blu;
      }
      .desc__wrap {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        .desc__icon {
          flex-basis: 12%;
          img {
            width: 100%;
          }
        }
        .desc__text {
          flex-grow: 1;
          .desc__text_bold {
            font-family: $font-main-reg;
            font-size: 16px;
            color: $color-text-blu;
            margin-bottom: 10px;
          }
          .desc__text_light {
            font-family: $font-main-light;
            font-size: 14px;
            color: $color-text-grey;
            line-height: 140%;
          }
        }
      }
    }
    .box__img {
      flex-basis: 45%;
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 10px 1.2fr;
      grid-template-rows: 1.2fr 1fr;
      gap: 15px;
      .img_l-top {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: flex-end;
        img {
          width: 100%;
        }
      }
      .img_r-top {
        grid-column: 2/4;
        grid-row: 1/2;
        align-self: flex-end;
        img {
          width: 100%;
        }
      }
      .img_l-bot {
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        img {
          width: 70%;
        }
      }
      .img_r-bot {
        grid-column: 3/4;
        grid-row: 2/3;
        img {
          width: 90%;
        }
      }
    }
  }
}

//------------------------------------------------------Services
.container-services {
  background-color: $color-bg-services;
  text-align: center;
  padding: $padding-block;
  padding-top: 18vh;
  padding-bottom: 10vh;
  .container-services__title {
    @include title-h2($color-text-blu);
  }
  .container-services__wrap {
    margin: 8vh 0 8vh 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    .container-services__box {
      background-color: $color-text-white;
      box-shadow: 0px 10px 60px 0px #0000001a;
      border-radius: 5px;
      width: 16vw;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      z-index: 1;
      .container-services__icon {
        width: 21%;
        img {
          width: 100%;
        }
      }
      .container-services__subtitle {
        font-family: $font-main-reg;
        color: $color-text-blu;
        font-size: 16px;
      }
      .container-services__text {
        font-family: $font-main-light;
        color: $color-text-grey;
        font-size: 12px;
        line-height: 140%;
      }
      .container-services__link {
        a {
          text-decoration: none;
          font-family: $font-main-reg;
          color: $color-btn;
          font-size: 12px;
          line-height: 140%;
        }
      }
    }
    .container-services__icon-points {
      position: absolute;
      z-index: 0;
      width: 8vw;
      top: 13.5vh;
      left: 62.5vw;
    }
  }
  .container-services__button {
    a {
      @extend %button-link;
      img {
        width: $width-arrow;
      }
    }
  }
}

//---------------------------------------------------------Kitchen

.container-kitchen {
  width: 100vw;
  height: 82vh;
  background-image: url(../assets/images/bg-kitchen.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: $padding-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container-kitchen__title {
    @include title-h2($color-text-white);
    width: 60%;
    text-align: center;
    margin-bottom: 70px;
  }
  .container-kitchen__wrap {
    width: 100%;
    background-color: $color-text-white;
    border-radius: 10px;
    padding: 30px 80px 50px 80px;
    //------------------------------input tabs
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
    .container-kitchen__line {
      height: 3px;
      width: 100%;
      border-top: 0.5px solid $color-text-grey-light;
      margin-top: -1px;
    }

    #tab-lunch:checked ~ #lunch-catering-list,
    #tab-dinner:checked ~ #dinner-catering-list,
    #tab-breakfast:checked ~ #breakfast-catering-list {
      display: block;
    }

    label {
      padding-bottom: 20px;
      cursor: pointer;
      color: $color-text-grey;
      font-family: $font-main-reg;
      font-size: 12px;
      background: 0 0;
      border-bottom: 2px solid transparent;
    }

    label:hover {
      border-bottom-color: $color-btn-hover;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      cursor: default;
      color: $color-text-blu;
      border-bottom-color: $color-btn;
    }
    .container-kitchen__menu {
      display: none;
      width: 100%;
      //------------------------------input tabs (end)
      margin-top: 50px;
      .menu__wrap {
        display: flex;
        justify-content: space-between;
        .menu__list {
          flex-basis: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;
          .menu__item {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .menu__img {
              flex-basis: 50px;
              img {
                width: 100%;
              }
            }
            .menu__desc {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .menu__name {
                display: flex;
                justify-content: space-between;
                p {
                  font-family: $font-main-reg;
                  font-size: 16px;
                  color: $color-text-blu;
                }
                .menu__line {
                  flex-grow: 1;
                  border-bottom: 0.5px dashed $color-text-grey;
                  height: 16px;
                }
                .menu__price {
                  font-family: $font-main-light;
                  font-size: 16px;
                  color: $color-bg;
                  margin-left: 10px;
                }
              }
              .menu__comment {
                font-family: $font-footer;
                font-size: 12px;
                color: $color-text-grey;
              }
            }
          }
        }
      }
    }
  }
}

//---------------------------------------------------Video
.container-video {
  width: 100%;
  height: 60vh;
  padding: 0 30px 0 0;
  .container-video__wrap {
    width: 100%;
    height: 100%;
    background-color: $color-bg-video;
    padding: $padding-block;
    padding-top: 10vh;
    display: flex;
    gap: 5vw;
    .container-video__video {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
    .container-video__desc {
      flex-basis: 37%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4vh;
      .container-video__title {
        @include title-h2($color-text-blu);
      }
      .container-video__text {
        font-family: $font-main-light;
        font-size: 14px;
        color: $color-text-grey;
        line-height: 150%;
      }
      .container-video__button {
        @extend %button-link;
        width: 42%;
        img {
          width: $width-arrow;
          margin-left: 8px;
        }
      }
    }
  }
}

//-------------------------------------------------Online Store
.container-online {
  padding: $padding-block;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8vh;
  .container-online__title {
    @include title-h2($color-text-blu);
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
  }
  .container-online__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    .container-online__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      .online-card__img {
        position: relative;
        img {
          width: 98%;
        }
        .sale-50 {
          position: absolute;
          width: 30%;
          top: 10px;
          left: 63%;
          img {
            width: 100%;
          }
        }
      }
      .online-card__name {
        font-family: $font-main-reg;
        font-size: 14px;
        color: $color-text-blu;
      }
      .online-card__price {
        display: flex;
        justify-content: space-between;
        .online-card__value {
          font-family: $font-main-light;
          font-size: 14px;
          color: $color-text-grey;
        }
        .online-card__rating {
          img {
            width: 12px;
          }
        }
      }
    }
  }
  .container-online__button {
    a {
      @extend %button-link;
    }
    img {
      width: $width-arrow;
      margin-left: 10px;
    }
  }
}

//--------------------------------------------------------Comments
.container-comment {
  border: 1px solid purple;
  width: 100%;
  height: 60vh;
  padding: 8vh 12vw;
  .container-comment__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comment-card__box {
      width: 20vw;
      border-radius: 10px;
      box-shadow: 0px 10px 60px 0px #0000001a;
      padding: 35px 30px 25px 38px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      font-family: $font-main-reg;
      .comment-card__person {
        display: flex;
        gap: 15px;
        .comment-card__img {
          width: 50px;
          img {
            width: 100%;
          }
        }
        .comment-card__name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;

          .comment-card__name_green {
            color: $color-btn;
            font-size: 12px;
          }
          .comment-card__name_grey {
            color: $color-text-grey-light;
            font-size: 11px;
            line-height: 180%;
          }
        }
      }
      .comment-card__subtitle {
        color: $color-text-blu;
        font-size: 14px;
      }
      .comment-card__text {
        color: $color-text-grey;
        font-size: 11px;
        line-height: 150%;
      }
      .comment-card__rating {
        display: flex;
        gap: 10px;
        .comment-card__value {
          color: $color-text-yellow;
          font-size: 14px;
        }
        .comment-card__icons {
          img {
            width: 12px;
          }
        }
      }
    }
  }
}

.box-comment__card {
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px #0000001a;
}

/*---------------------------Subscribe------------------------------*/
.border {
  border-top: 1px solid #6969691a;
  height: 20px;
  margin: 0px 17vw;
}

.box-sub {
  padding: 10vh 16vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.box-sub__text {
  width: 21vw;
  color: #39374d;
  font-family: "NeueHaasUnica-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.3px;
}

.box-sub__enter {
  width: 32vw;
}

.box-sub__email {
  width: 62%;
  padding: 12px;
  margin-right: 10px;
  background-color: #edfcf4;
  border: 1px solid #f3f3f3;
  border-radius: 30px;
  font-family: "NeueHaasUnica-Regular", Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #1e266d;
  outline: none;
}

.box-sub__email::placeholder {
  color: #1e266d;
}

.box-sub__button {
  background-color: #00d664;
  border-radius: 28px;
  border: none;
  color: #ffffff;
  font-family: "NeueHaasUnica-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 12px;
  width: 28%;
}

.box-sub__checkbox {
  color: #acacac;
  font-family: "NeueHaasUnica-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

input.box-sub__checkbox {
  margin-right: 6px;
}

/*---------------------------Map------------------------------------*/
.box-map {
  padding: 40px 0;
  text-align: center;
}

.box-map__container {
  max-width: 1000px;
  margin: 0 auto;
}

.box-map__img {
  box-sizing: border-box;
  padding: 20px 5px;
  width: 100vw;
}

.box-map__img img {
  width: 100%;
  text-align: center;
}

/*---------------------------Footer Nav------------------------------------*/
.footer {
  box-sizing: border-box;
  padding: 6vh 16vw;
}

.footer__wrap-navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3633451a;
  height: 6vh;
}

.footer__nav {
  border: 1px solid violet;
}

.footer__socials {
  border: 1px solid violet;
}

.footer__nav a {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #696969;
}

/*---------------------------Footer Grid-----------------------------------*/
.footer__wrap-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  border-bottom: 1px solid #3633451a;
}

.footer__wrap-grid h3 {
  font-family: "FuturaPT-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #696969;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__menu {
  height: 25vh;
  align-content: space-between;
}

.footer__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 15vh;
  align-content: space-between;
}

.footer__list a {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #696969;
}

.footer__sidebar p {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 140%;
  color: #696969;
}

.footer__text {
  padding: 5vh 0px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #696969;
}

.footer__text a {
  color: #39374d;
  text-decoration: none;
}
