@font-face {
  font-family: "MrsSaintDelafield";
  src: url(../fonts/MrsSaintDelafield-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
}
@font-face {
  font-family: "NeueHaasUnica-Black";
  src: url(../fonts/NeueHaasUnica-Black.ttf);
}
@font-face {
  font-family: "NeueHaasUnica-Bold";
  src: url(../fonts/NeueHaasUnica-Bold.ttf);
}
@font-face {
  font-family: "NeueHaasUnica-Regular";
  src: url(../fonts/NeueHaasUnica-Regular.ttf);
}
@font-face {
  font-family: "NeueHaasUnica-Light";
  src: url(../fonts/NeueHaasUnica-Light.ttf);
}
@font-face {
  font-family: "Futura PT";
  src: url(../fonts/FuturaPT-Book.ttf);
}
.container-online .container-online__button a, .container-video .container-video__wrap .container-video__desc .container-video__button, .container-services .container-services__button a, .slogan .slogan__button a, .header .menu .menu__button a {
  font-family: "NeueHaasUnica-Regular";
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #00d664;
  padding: 15px 30px;
  border-radius: 28px;
  border: 0px;
  cursor: pointer;
}

.container-online .container-online__button a:hover, .container-video .container-video__wrap .container-video__desc .container-video__button:hover, .container-services .container-services__button a:hover, .slogan .slogan__button a:hover, .header .menu .menu__button a:hover {
  background: #009043;
}

.container-online .container-online__button a:active, .container-video .container-video__wrap .container-video__desc .container-video__button:active, .container-services .container-services__button a:active, .slogan .slogan__button a:active, .header .menu .menu__button a:active {
  background: #005528;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-image: url(../assets/images/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 35px 16vw;
  background-color: #000000;
  color: #ffffff;
}
@media all and (min-width: 280px) and (max-width: 1400px) {
  .header {
    padding: 30px 6vw;
  }
}
@media all and (min-width: 280px) and (max-width: 820px) {
  .header {
    height: 80vh;
  }
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header .menu .menu__logo {
  font-family: "NeueHaasUnica-Bold";
  font-size: 22px;
  letter-spacing: 2px;
}
.header .menu .menu__nav {
  font-family: "NeueHaasUnica-Light";
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__nav {
    flex-direction: column;
  }
}
.header .menu .menu__nav .nav__dropdown {
  position: relative;
  display: inline-block;
}
.header .menu .menu__nav .nav__dropdown .dropdown-link {
  padding: 8px;
  border: none;
  cursor: pointer;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__nav .nav__dropdown .dropdown-link {
    font-size: 12px;
    padding: 5px;
  }
}
.header .menu .menu__nav .nav__dropdown .dropdown-link img {
  height: 8px;
}
.header .menu .menu__nav .nav__dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(101, 100, 100, 0.4941176471);
  width: 100%;
  z-index: 1;
}
.header .menu .menu__nav .nav__dropdown .dropdown-content a {
  color: #ffffff;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__nav .nav__dropdown .dropdown-content a {
    font-size: 12px;
    padding: 5px;
  }
}
.header .menu .menu__nav .nav__dropdown .dropdown-content a:hover {
  background-color: rgba(135, 135, 135, 0.5215686275);
}
.header .menu .menu__nav .nav__dropdown:hover .dropdown-content {
  display: block;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__nav .nav__dropdown:hover .dropdown-content {
    top: 0;
    left: 100%;
  }
}
.header .menu .menu__nav .nav__dropdown:hover .dropdown-link {
  background-color: rgba(101, 100, 100, 0.4941176471);
}
.header .menu .menu__icons {
  width: 6vw;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__icons {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .header .menu .menu__button a {
    padding: 10px 15px;
  }
}

.slogan {
  margin: 26vh 12vw 0px 12vw;
  text-align: center;
}
@media all and (min-width: 501px) and (max-width: 1000px) {
  .slogan {
    margin: 2vh 8vw 0px 8vw;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .slogan {
    margin: 4vh 5vw 0px 5vw;
  }
}
.slogan .slogan__subtitle {
  font-family: "MrsSaintDelafield";
  font-size: 50px;
}
@media all and (min-width: 431px) and (max-width: 700px) {
  .slogan .slogan__subtitle {
    font-size: 30px;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .slogan .slogan__subtitle {
    font-size: 20px;
  }
}
.slogan .slogan__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 46px;
  letter-spacing: 2px;
  margin-top: 0;
}
@media all and (min-width: 431px) and (max-width: 1000px) {
  .slogan .slogan__title {
    font-size: 26px;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .slogan .slogan__title {
    font-size: 18px;
  }
}
.slogan .slogan__text {
  font-family: "NeueHaasUnica-Light";
  font-size: 15px;
  letter-spacing: 1px;
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .slogan .slogan__text {
    font-size: 12px;
    letter-spacing: 0px;
  }
}
.slogan .slogan__button {
  margin-top: 8vh;
}
@media all and (min-width: 431px) and (max-width: 1000px) {
  .slogan .slogan__button {
    margin-top: 4vh;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .slogan .slogan__button {
    margin-top: 2vh;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .slogan .slogan__button a {
    padding: 10px 15px;
  }
}

.container-about {
  padding: 35px 16vw;
}
@media all and (min-width: 280px) and (max-width: 1400px) {
  .container-about {
    padding: 30px 6vw;
  }
}
.container-about .container-about__title {
  padding: 8vh;
  text-align: center;
}
@media all and (min-width: 501px) and (max-width: 1000px) {
  .container-about .container-about__title {
    padding: 2vh 8vw;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .container-about .container-about__title {
    padding: 4vh 5vw;
  }
}
.container-about .container-about__title .box-about__subtitle {
  font-family: "MrsSaintDelafield";
  font-size: 50px;
  color: #acacac;
}
@media all and (min-width: 431px) and (max-width: 700px) {
  .container-about .container-about__title .box-about__subtitle {
    font-size: 30px;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .container-about .container-about__title .box-about__subtitle {
    font-size: 20px;
  }
}
.container-about .container-about__title .box-about__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 26px;
  color: #1e266d;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media all and (min-width: 431px) and (max-width: 1000px) {
  .container-about .container-about__title .box-about__title {
    font-size: 26px;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .container-about .container-about__title .box-about__title {
    font-size: 18px;
  }
}
.container-about .container-about__title .box-about__text {
  font-family: "NeueHaasUnica-Light";
  font-size: 14px;
  color: #696969;
  letter-spacing: 1px;
  line-height: 150%;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .container-about .container-about__title .box-about__text {
    letter-spacing: 0px;
    line-height: 120%;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  .container-about .container-about__title .box-about__text {
    font-size: 14px;
  }
}
.container-about .container-about__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .container-about .container-about__desc {
    flex-direction: column;
  }
}
.container-about .container-about__desc .box__desc {
  flex-basis: 36%;
}
@media all and (min-width: 701px) and (max-width: 1200px) {
  .container-about .container-about__desc .box__desc {
    flex-basis: 50%;
  }
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .container-about .container-about__desc .box__desc {
    flex-basis: 65%;
  }
}
.container-about .container-about__desc .box__desc .desc__subtitle {
  font-family: "NeueHaasUnica-Regular";
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 130%;
  color: #1e266d;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .container-about .container-about__desc .box__desc .desc__subtitle {
    font-size: 16px;
  }
}
.container-about .container-about__desc .box__desc .desc__wrap {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.container-about .container-about__desc .box__desc .desc__wrap .desc__icon {
  flex-basis: 12%;
}
.container-about .container-about__desc .box__desc .desc__wrap .desc__icon img {
  width: 100%;
}
.container-about .container-about__desc .box__desc .desc__wrap .desc__text {
  flex-grow: 1;
}
.container-about .container-about__desc .box__desc .desc__wrap .desc__text .desc__text_bold {
  font-family: "NeueHaasUnica-Regular";
  font-size: 16px;
  color: #1e266d;
  margin-bottom: 10px;
}
.container-about .container-about__desc .box__desc .desc__wrap .desc__text .desc__text_light {
  font-family: "NeueHaasUnica-Light";
  font-size: 14px;
  color: #696969;
  line-height: 140%;
}
.container-about .container-about__desc .box__img {
  flex-basis: 45%;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 10px 1.2fr;
  grid-template-rows: 1.2fr 1fr;
  gap: 15px;
}
@media all and (min-width: 501px) and (max-width: 700px) {
  .container-about .container-about__desc .box__img {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .container-about .container-about__desc .box__img {
    width: 70%;
  }
}
@media all and (min-width: 501px) and (max-width: 700px) {
  .container-about .container-about__desc .box__img div {
    width: 70%;
  }
}
.container-about .container-about__desc .box__img .img_l-top {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-end;
}
.container-about .container-about__desc .box__img .img_l-top img {
  width: 100%;
}
.container-about .container-about__desc .box__img .img_r-top {
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: flex-end;
}
.container-about .container-about__desc .box__img .img_r-top img {
  width: 100%;
}
.container-about .container-about__desc .box__img .img_l-bot {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.container-about .container-about__desc .box__img .img_l-bot img {
  width: 70%;
}
@media all and (min-width: 501px) and (max-width: 700px) {
  .container-about .container-about__desc .box__img .img_l-bot {
    display: none;
  }
}
.container-about .container-about__desc .box__img .img_r-bot {
  grid-column: 3/4;
  grid-row: 2/3;
}
.container-about .container-about__desc .box__img .img_r-bot img {
  width: 90%;
}
@media all and (min-width: 501px) and (max-width: 700px) {
  .container-about .container-about__desc .box__img .img_r-bot {
    display: none;
  }
}

.container-services {
  background-color: #f7f4fb;
  text-align: center;
  padding: 35px 16vw;
  padding-top: 18vh;
  padding-bottom: 10vh;
}
@media all and (min-width: 401px) and (max-width: 1024px) {
  .container-services {
    padding: 10vh 10vw;
  }
}
@media all and (min-width: 280px) and (max-width: 400px) {
  .container-services {
    padding: 5vh 5vw;
  }
}
.container-services .container-services__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 26px;
  color: #1e266d;
}
@media all and (min-width: 280px) and (max-width: 1024px) {
  .container-services .container-services__title {
    font-size: 18px;
  }
}
.container-services .container-services__box {
  margin: 8vh 0 8vh 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media all and (min-width: 280px) and (max-width: 900px) {
  .container-services .container-services__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 15px;
  }
}
.container-services .container-services__box .container-services__card {
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 5px;
  box-sizing: border-box;
  width: 16vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 1;
}
@media all and (min-width: 280px) and (max-width: 900px) {
  .container-services .container-services__box .container-services__card {
    width: 90%;
    height: 90%;
    padding: 20px 15px;
  }
}
.container-services .container-services__box .container-services__card .container-services__icon {
  width: 21%;
}
@media all and (min-width: 501px) and (max-width: 900px) {
  .container-services .container-services__box .container-services__card .container-services__icon {
    width: 12%;
  }
}
@media all and (min-width: 280px) and (max-width: 400px) {
  .container-services .container-services__box .container-services__card .container-services__icon {
    width: 30%;
  }
}
.container-services .container-services__box .container-services__card .container-services__icon img {
  width: 100%;
}
.container-services .container-services__box .container-services__card .container-services__subtitle {
  font-family: "NeueHaasUnica-Regular";
  color: #1e266d;
  font-size: 16px;
}
@media all and (min-width: 280px) and (max-width: 900px) {
  .container-services .container-services__box .container-services__card .container-services__subtitle {
    font-size: 12px;
  }
}
.container-services .container-services__box .container-services__card .container-services__text {
  font-family: "NeueHaasUnica-Light";
  color: #696969;
  font-size: 12px;
  line-height: 140%;
}
@media all and (min-width: 280px) and (max-width: 900px) {
  .container-services .container-services__box .container-services__card .container-services__text {
    font-size: 10px;
    line-height: 110%;
  }
}
.container-services .container-services__box .container-services__card .container-services__link a {
  text-decoration: none;
  font-family: "NeueHaasUnica-Regular";
  color: #00d664;
  font-size: 12px;
  line-height: 140%;
}
.container-services .container-services__box .container-services__icon-points {
  position: absolute;
  z-index: 0;
  width: 12vw;
  height: 70%;
  right: -5%;
  bottom: 2%;
}
@media all and (min-width: 280px) and (max-width: 1023px) {
  .container-services .container-services__box .container-services__icon-points {
    display: none;
  }
}
.container-services .container-services__button a img {
  width: 8px;
}

.container-kitchen {
  width: 100vw;
  height: 82vh;
  background-image: url(../assets/images/bg-kitchen.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .container-kitchen {
    height: 70vh;
    padding: 20px 8vw;
  }
}
.container-kitchen .container-kitchen__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 26px;
  color: #ffffff;
  width: 60%;
  text-align: center;
  margin-bottom: 70px;
}
@media all and (min-width: 280px) and (max-width: 1300px) {
  .container-kitchen .container-kitchen__title {
    width: 80%;
  }
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .container-kitchen .container-kitchen__title {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
.container-kitchen .container-kitchen__wrap {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 80px 50px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7%;
}
@media all and (min-width: 280px) and (max-width: 600px) {
  .container-kitchen .container-kitchen__wrap {
    padding: 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 429px) {
  .container-kitchen .container-kitchen__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.container-kitchen .container-kitchen__wrap .container-kitchen__line {
  height: 3px;
  width: 100%;
  border-top: 0.5px solid #acacac;
  margin-top: -1px;
}
@media all and (min-width: 280px) and (max-width: 429px) {
  .container-kitchen .container-kitchen__wrap .container-kitchen__line {
    display: none;
  }
}
.container-kitchen .container-kitchen__wrap #tab-lunch:checked ~ #lunch-catering-list,
.container-kitchen .container-kitchen__wrap #tab-dinner:checked ~ #dinner-catering-list,
.container-kitchen .container-kitchen__wrap #tab-breakfast:checked ~ #breakfast-catering-list {
  display: block;
}
.container-kitchen .container-kitchen__wrap label {
  padding-bottom: 20px;
  cursor: pointer;
  color: #696969;
  font-family: "NeueHaasUnica-Regular";
  font-size: 12px;
  background: 0 0;
  border-bottom: 2px solid transparent;
}
@media all and (min-width: 280px) and (max-width: 429px) {
  .container-kitchen .container-kitchen__wrap label {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
.container-kitchen .container-kitchen__wrap label:hover {
  border-bottom-color: #009043;
}
.container-kitchen .container-kitchen__wrap input[type=radio] {
  display: none;
}
.container-kitchen .container-kitchen__wrap input[type=radio]:checked + label {
  cursor: default;
  color: #1e266d;
  border-bottom-color: #00d664;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu {
  display: none;
  width: 100%;
  margin-top: 50px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap {
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 1300px) {
  .container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap {
    flex-direction: column;
  }
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__img {
  flex-basis: 50px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__img img {
  width: 100%;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc .menu__name {
  display: flex;
  justify-content: space-between;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc .menu__name p {
  font-family: "NeueHaasUnica-Regular";
  font-size: 16px;
  color: #1e266d;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc .menu__name .menu__line {
  flex-grow: 1;
  border-bottom: 0.5px dashed #696969;
  height: 16px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc .menu__name .menu__price {
  font-family: "NeueHaasUnica-Light";
  font-size: 16px;
  color: #000000;
  margin-left: 10px;
}
.container-kitchen .container-kitchen__wrap .container-kitchen__menu .menu__wrap .menu__list .menu__item .menu__desc .menu__comment {
  font-family: "Roboto";
  font-size: 12px;
  color: #696969;
}

.container-video {
  width: 100%;
  height: 60vh;
  padding: 0 30px 0 0;
}
.container-video .container-video__wrap {
  width: 100%;
  height: 100%;
  background-color: #f5f6fe;
  padding: 35px 16vw;
  padding-top: 10vh;
  display: flex;
  gap: 5vw;
}
@media all and (min-width: 280px) and (max-width: 1500px) {
  .container-video .container-video__wrap {
    padding: 8vh 8vw;
  }
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .container-video .container-video__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container-video .container-video__wrap .container-video__video {
  flex-basis: 50%;
  text-align: center;
}
.container-video .container-video__wrap img {
  width: 100%;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .container-video .container-video__wrap img {
    width: 70%;
  }
}
.container-video .container-video__wrap .container-video__desc {
  flex-basis: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
}
@media all and (min-width: 1001px) and (max-width: 1500px) {
  .container-video .container-video__wrap .container-video__desc {
    flex-basis: 45%;
    justify-content: flex-start;
  }
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .container-video .container-video__wrap .container-video__desc {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-basis: content;
  }
}
.container-video .container-video__wrap .container-video__desc .container-video__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 26px;
  color: #1e266d;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .container-video .container-video__wrap .container-video__desc .container-video__title {
    font-size: 18px;
  }
}
.container-video .container-video__wrap .container-video__desc .container-video__text {
  font-family: "NeueHaasUnica-Light";
  font-size: 14px;
  color: #696969;
  line-height: 150%;
}
.container-video .container-video__wrap .container-video__desc .container-video__button {
  width: 42%;
}
@media all and (min-width: 280px) and (max-width: 440px) {
  .container-video .container-video__wrap .container-video__desc .container-video__button {
    width: 70%;
  }
}
.container-video .container-video__wrap .container-video__desc .container-video__button img {
  width: 8px;
  margin-left: 8px;
}

.container-online {
  padding: 35px 16vw;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8vh;
}
@media all and (min-width: 280px) and (max-width: 1200px) {
  .container-online {
    padding: 10vh 10vw;
  }
}
.container-online .container-online__title {
  font-family: "NeueHaasUnica-Regular";
  font-size: 26px;
  color: #1e266d;
  letter-spacing: 1px;
  width: 60%;
  text-align: center;
}
@media all and (min-width: 280px) and (max-width: 1200px) {
  .container-online .container-online__title {
    width: 100%;
  }
}
@media all and (min-width: 280px) and (max-width: 800px) {
  .container-online .container-online__title {
    font-size: 18px;
  }
}
.container-online .container-online__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
@media all and (min-width: 280px) and (max-width: 800px) {
  .container-online .container-online__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
}
@media all and (min-width: 280px) and (max-width: 400px) {
  .container-online .container-online__content {
    gap: 15px;
  }
}
.container-online .container-online__content .container-online__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.container-online .container-online__content .container-online__card .online-card__img {
  position: relative;
}
.container-online .container-online__content .container-online__card .online-card__img img {
  width: 98%;
}
.container-online .container-online__content .container-online__card .online-card__img .sale-50 {
  position: absolute;
  width: 30%;
  top: 10px;
  left: 63%;
}
.container-online .container-online__content .container-online__card .online-card__img .sale-50 img {
  width: 100%;
}
.container-online .container-online__content .container-online__card .online-card__name {
  font-family: "NeueHaasUnica-Regular";
  font-size: 14px;
  color: #1e266d;
}
.container-online .container-online__content .container-online__card .online-card__price {
  display: flex;
  justify-content: space-between;
}
.container-online .container-online__content .container-online__card .online-card__price .online-card__value {
  font-family: "NeueHaasUnica-Light";
  font-size: 14px;
  color: #696969;
}
.container-online .container-online__content .container-online__card .online-card__price .online-card__rating img {
  width: 12px;
}
.container-online .container-online__button img {
  width: 8px;
  margin-left: 10px;
}

.container-comment {
  width: 100%;
  padding: 8vh 12vw;
}
@media all and (min-width: 280px) and (max-width: 1000px) {
  .container-comment {
    padding: 8vh 5vw;
  }
}
.container-comment .container-comment__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 761px) and (max-width: 1023px) {
  .container-comment .container-comment__wrap {
    gap: 30px;
  }
}
.container-comment .container-comment__wrap .comment-card__box {
  width: 20vw;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 35px 30px 25px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: "NeueHaasUnica-Regular";
}
@media all and (min-width: 280px) and (max-width: 1023px) {
  .container-comment .container-comment__wrap .comment-card__box {
    gap: 8px;
  }
}
@media all and (min-width: 761px) and (max-width: 1023px) {
  .container-comment .container-comment__wrap .comment-card__box {
    width: 30vw;
  }
}
@media all and (min-width: 280px) and (max-width: 760px) {
  .container-comment .container-comment__wrap .comment-card__box {
    width: auto;
  }
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person {
  display: flex;
  gap: 15px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person .comment-card__img {
  width: 50px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person .comment-card__img img {
  width: 100%;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person .comment-card__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person .comment-card__name .comment-card__name_green {
  color: #00d664;
  font-size: 12px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__person .comment-card__name .comment-card__name_grey {
  color: #acacac;
  font-size: 11px;
  line-height: 180%;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__subtitle {
  color: #1e266d;
  font-size: 14px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__text {
  color: #696969;
  font-size: 11px;
  line-height: 150%;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__rating {
  display: flex;
  gap: 10px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__rating .comment-card__value {
  color: #f5ad0d;
  font-size: 14px;
}
.container-comment .container-comment__wrap .comment-card__box .comment-card__rating .comment-card__icons img {
  width: 12px;
}
@media all and (min-width: 280px) and (max-width: 760px) {
  .container-comment .container-comment__wrap .carousel {
    display: none;
  }
}
@media all and (min-width: 280px) and (max-width: 1023px) {
  .container-comment .container-comment__wrap .container-comment__arrow {
    display: none;
  }
}
.container-comment .container-comment__points {
  margin: 30px auto;
  width: 6vw;
  height: 8px;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 760px) {
  .container-comment .container-comment__points {
    width: 15vw;
  }
}
.container-comment .container-comment__points img {
  height: 100%;
}

/*---------------------------Subscribe------------------------------*/
.container-subscribe .container-subscribe__border {
  border-top: 1px solid rgba(65, 53, 127, 0.1019607843);
  height: 2px;
  margin: 0 18vw;
}
.container-subscribe .box-sub {
  padding: 35px 16vw;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 800px) {
  .container-subscribe .box-sub {
    padding: 5vh 5vw;
    flex-direction: column;
    align-items: center;
  }
}
.container-subscribe .box-sub .box-sub__text {
  flex-basis: 21vw;
  text-align: center;
  font-family: "NeueHaasUnica-Regular";
  color: #39374d;
  font-size: 21px;
  line-height: 130%;
}
@media all and (min-width: 280px) and (max-width: 800px) {
  .container-subscribe .box-sub .box-sub__text {
    flex-basis: 10vh;
    font-size: 18px;
  }
}
.container-subscribe .box-sub .box-sub__enter {
  flex-basis: 32vw;
  font-family: "NeueHaasUnica-Regular";
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__email {
  width: 70%;
  height: 40px;
  padding-left: 15px;
  background-color: #edfcf4;
  border: 1px solid #f7f4fb;
  border-radius: 30px;
  font-family: "NeueHaasUnica-Regular";
  font-size: 11px;
  outline: none;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__email::-moz-placeholder {
  color: #1e266d;
  margin-left: 50px;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__email:-ms-input-placeholder {
  color: #1e266d;
  margin-left: 50px;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__email::placeholder {
  color: #1e266d;
  margin-left: 50px;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__button {
  background-color: #00d664;
  border-radius: 28px;
  border: none;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  width: 28%;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__button:hover {
  background: #009043;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__wrap .box-sub__button:active {
  background: #005528;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__checkbox {
  color: #acacac;
  font-size: 11px;
}
.container-subscribe .box-sub .box-sub__enter .box-sub__checkbox input {
  margin-right: 5px;
  height: 10px;
}

/*---------------------------Map------------------------------------*/
.container-map {
  width: 100vw;
  height: 70vh;
}
.container-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*---------------------------Footer Nav------------------------------------*/
.footer {
  padding: 35px 16vw;
  margin-top: 30px;
}
@media all and (min-width: 280px) and (max-width: 1200px) {
  .footer {
    padding: 5vh 5vw;
  }
}
.footer .footer__wrap-navigation {
  margin: 0 20px;
  height: 45px;
  border-bottom: 1px solid rgba(65, 53, 127, 0.1019607843);
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .footer .footer__wrap-navigation {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.footer .footer__wrap-navigation .footer__nav {
  flex-basis: 35%;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 501px) and (max-width: 1200px) {
  .footer .footer__wrap-navigation .footer__nav {
    flex-basis: 65%;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .footer .footer__wrap-navigation .footer__nav {
    flex-direction: column;
    gap: 5px;
  }
}
.footer .footer__wrap-navigation .footer__nav a {
  font-family: "Roboto";
  font-size: 12px;
  text-decoration: none;
  color: #696969;
}
.footer .footer__wrap-navigation .footer__socials {
  flex-basis: 8%;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 501px) and (max-width: 1200px) {
  .footer .footer__wrap-navigation .footer__socials {
    flex-basis: 20%;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  .footer .footer__wrap-navigation .footer__socials {
    gap: 15px;
  }
}
.footer .footer__wrap-navigation .footer__socials a img {
  height: 12px;
}

/*---------------------------Footer Menu-----------------------------------*/
.footer__wrap-menu {
  padding: 60px 20px;
  border-bottom: 1px solid rgba(54, 51, 69, 0.1019607843);
  display: flex;
  justify-content: space-between;
  /*---------------------------Footer sidebar-----------------------------------*/
}
.footer__wrap-menu .footer__menu {
  flex-basis: 65%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .footer__wrap-menu .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 15%;
  }
}
.footer__wrap-menu .footer__menu .footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__wrap-menu .footer__menu .footer__list h4 {
  font-family: "Futura PT";
  font-size: 14px;
  color: #39374d;
  height: 40px;
}
.footer__wrap-menu .footer__menu .footer__list .footer__items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .footer__wrap-menu .footer__menu .footer__list .footer__items {
    display: none;
  }
}
.footer__wrap-menu .footer__menu .footer__list .footer__items a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 13px;
  color: #696969;
}
.footer__wrap-menu .footer__sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__wrap-menu .footer__sidebar h4 {
  font-family: "Futura PT";
  font-size: 14px;
  color: #39374d;
  height: 40px;
}
.footer__wrap-menu .footer__sidebar p {
  font-family: "Roboto";
  font-size: 12px;
  color: #696969;
  letter-spacing: 0.5px;
  line-height: 20px;
  width: 8vw;
  text-align: end;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .footer__wrap-menu .footer__sidebar p {
    width: 30vw;
  }
}

/*---------------------------Footer text-----------------------------------*/
.footer__text {
  width: 65%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Roboto";
  font-size: 12px;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  .footer__text {
    width: 100%;
    flex-direction: column;
  }
}
.footer__text p {
  color: #696969;
}
.footer__text a {
  text-decoration: none;
  color: #39374d;
}

/*---------------------------End-----------------------------------*//*# sourceMappingURL=style.css.map */