/*----------------Page 1 Block 1 Navigation and Background--------------*/
@font-face {
    font-family: 'NeueHaasUnica-Light';
    src: url(../fonts/NeueHaasUnica-Light.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasUnica-Regular';
    src: url(../fonts/NeueHaasUnica-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'NeueHaasUnica-Bold';
    src: url(../fonts/NeueHaasUnica-Bold.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MrsSaintDelafield-Regular';
    src: url(../fonts/MrsSaintDelafield-Regular.ttf);
    font-weight: 400;
}



.header {
    background-image: url(../assets/images/welcome.png);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 17/9;
    padding: 40px 20px 30px 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'NeueHaasUnica-Light', Arial, Helvetica, sans-serif;
}

.menu {
    padding: 0px 14vw;
    display: grid;
    grid-template-columns: 8% 1fr 15% 14%;
    align-items: center;

}

.menu__logo {
    font-family: 'NeueHaasUnica-Bold';
    font-size: 20px;
}

.menu__nav a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.menu__nav {
    display: flex;
    justify-content: space-around;
}

.menu__icons {
    display: flex;
    justify-content: space-around;
    padding-right: 30%;
}


.menu__link {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    background-color: #00d664;
    border-radius: 28px;
    border: 0px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.menu__link:hover {
    background: #009043;
}

.menu__link:active {
    background: #005528;
}

/*------------------Header Slogan---------*/
.slogan {
    margin: 20vh 25vw 0px 25vw;
    text-align: center;
}

.slogan__subtitle {
    font-family: 'MrsSaintDelafield-Regular';
    font-size: 46px;
}

.slogan__title {
    font-size: 48px;
    letter-spacing: 3px;
    margin-top: -40px;
}

.slogan__text {
    line-height: 140%;
}

.slogan__button {
    width: 13vw;
    height: 6vh;
    background-color: #00d664;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    margin-top: 5vh;
    font-size: 14px;
}

/*------------------About-------------------*/

.box-about {
    background-color: #ffffff;
    color: #696969;
    font-family: 'NeueHaasUnica-Light', Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.box-about__subtitle {
    font-family: 'MrsSaintDelafield-Regular';
    font-size: 46px;
}

.box-about__title {
    color: #1e266d;
    font-family: 'NeueHaasUnica-Regular', Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-top: -40px;
}

.wrap-about {
    padding: 10vh 15vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 10vw;
}

.wrap-about__desc {
    display: grid;
    grid-template-rows: 1fr, repeat(3, 3fr);
    padding: 10vh 0px;
    border: 1px solid rgb(166, 130, 238);
}

.wrap-about__desc h3 {
    color: #1e266d;
    font-family: 'NeueHaasUnica-Regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-self: flex-start;
    align-self: center;
    border: 1px solid violet;
}

.wrap-about__text {
    border: 1px solid rgb(130, 238, 150);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
}

.wrap-about__text img {
    grid-row: 1/3;
    border: 1px solid violet;
}

.wrap-about__subtitle {
    border: 1px solid violet;
    color: #1e266d;
    font-weight: bolder;
}

.wrap-about__text p {
    border: 1px solid violet;
}