@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
}

//------------------------------------------------------------Header Navigation
.header {
  background-image: url(../assets/images/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: $padding-block;
  background-color: $color-bg;
  color: $color-text-white;
  @media all and (min-width: 280px) and (max-width: 1400px) {
    padding: $padding-block-medium;
  }
  @media all and (min-width: 280px) and (max-width: 820px) {
    height: 65vh;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 280px) and (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .menu__logo {
      font-family: $font-main-bold;
      font-size: 22px;
      letter-spacing: 2px;
    }
    .menu__nav {
      font-family: $font-main-light;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      @media all and (min-width: 280px) and (max-width: 1000px) {
        flex-direction: column;
      }
      .nav__dropdown {
        position: relative;
        display: inline-block;
        .dropdown-link {
          padding: 8px;
          border: none;
          cursor: pointer;
          @media all and (min-width: 280px) and (max-width: 1000px) {
            font-size: 12px;
            padding: 5px;
          }
          img {
            height: 8px;
          }
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #6564647e;
          width: 100%;
          z-index: 1;
          a {
            color: $color-text-white;
            padding: 12px 8px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            @media all and (min-width: 280px) and (max-width: 1000px) {
              font-size: 12px;
              padding: 5px;
            }
          }
          a:hover {
            background-color: #87878785;
          }
        }
      }
      .nav__dropdown:hover .dropdown-content {
        display: block;
        @media all and (min-width: 280px) and (max-width: 1000px) {
          top: 0;
          left: 100%;
        }
      }
      .nav__dropdown:hover .dropdown-link {
        background-color: #6564647e;
      }
    }
    .menu__icons {
      width: 6vw;
      display: flex;
      justify-content: space-between;
      @media all and (min-width: 280px) and (max-width: 1000px) {
        width: 90px;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: space-around;
      }
    }
    .menu__button {
      a {
        @extend %button-link;
        @media all and (min-width: 280px) and (max-width: 1000px) {
          padding: 10px 15px;
        }
      }
    }
  }
}

//-------------------------------------------------------Header Slogan
.slogan {
  margin: 26vh 12vw 0px 12vw;
  text-align: center;
  @media all and (min-width: 501px) and (max-width: 1000px) {
    margin: 2vh 8vw 0px 8vw;
  }
  @media all and (min-width: 280px) and (max-width: 500px) {
    margin: 4vh 5vw 0px 5vw;
  }
  .slogan__subtitle {
    font-family: $font-coursive;
    font-size: 50px;
    @media all and (min-width: 431px) and (max-width: 700px) {
      font-size: 30px;
    }
    @media all and (min-width: 280px) and (max-width: 430px) {
      font-size: 20px;
    }
  }
  .slogan__title {
    font-family: $font-main-reg;
    font-size: 46px;
    letter-spacing: 2px;
    margin-top: 0;
    @media all and (min-width: 431px) and (max-width: 1000px) {
      font-size: 26px;
    }
    @media all and (min-width: 280px) and (max-width: 430px) {
      font-size: 18px;
    }
  }
  .slogan__text {
    font-family: $font-main-light;
    font-size: 15px;
    letter-spacing: 1px;
    @media all and (min-width: 280px) and (max-width: 430px) {
      font-size: 12px;
      letter-spacing: 0px;
    }
  }
  .slogan__button {
    margin-top: 8vh;
    @media all and (min-width: 431px) and (max-width: 1000px) {
      margin-top: 4vh;
    }
    @media all and (min-width: 280px) and (max-width: 430px) {
      margin-top: 2vh;
    }
    a {
      @extend %button-link;
      @media all and (min-width: 280px) and (max-width: 430px) {
        padding: 10px 15px;
      }
    }
  }
}

//---------------------------------------------------------About
.container-about {
  padding: $padding-block;
  @media all and (min-width: 280px) and (max-width: 1400px) {
    padding: $padding-block-medium;
  }
  .container-about__title {
    padding: 8vh;
    text-align: center;
    @media all and (min-width: 501px) and (max-width: 1000px) {
      padding: 2vh 8vw;
    }
    @media all and (min-width: 280px) and (max-width: 500px) {
      padding: 4vh 5vw;
    }
    .box-about__subtitle {
      font-family: $font-coursive;
      font-size: 50px;
      color: $color-text-grey-light;
      @media all and (min-width: 431px) and (max-width: 700px) {
        font-size: 30px;
      }
      @media all and (min-width: 280px) and (max-width: 430px) {
        font-size: 20px;
      }
    }
    .box-about__title {
      @include title-h2($color-text-blu);
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 20px;
      @media all and (min-width: 431px) and (max-width: 1000px) {
        font-size: 26px;
      }
      @media all and (min-width: 280px) and (max-width: 430px) {
        font-size: 18px;
      }
    }
    .box-about__text {
      font-family: $font-main-light;
      font-size: 14px;
      color: $color-text-grey;
      letter-spacing: 1px;
      line-height: 150%;
      @media all and (min-width: 280px) and (max-width: 700px) {
        letter-spacing: 0px;
        line-height: 120%;
      }
      @media all and (min-width: 280px) and (max-width: 430px) {
        font-size: 14px;
      }
    }
  }
  .container-about__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 280px) and (max-width: 500px) {
      flex-direction: column;
    }
    .box__desc {
      flex-basis: 36%;
      @media all and (min-width: 701px) and (max-width: 1200px) {
        flex-basis: 50%;
      }
      @media all and (min-width: 280px) and (max-width: 700px) {
        flex-basis: 65%;
      }
      .desc__subtitle {
        font-family: $font-main-reg;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 130%;
        color: $color-text-blu;
        @media all and (min-width: 280px) and (max-width: 700px) {
          font-size: 16px;
        }
      }
      .desc__wrap {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        .desc__icon {
          flex-basis: 12%;
          img {
            width: 100%;
          }
        }
        .desc__text {
          flex-grow: 1;
          .desc__text_bold {
            font-family: $font-main-reg;
            font-size: 16px;
            color: $color-text-blu;
            margin-bottom: 10px;
          }
          .desc__text_light {
            font-family: $font-main-light;
            font-size: 14px;
            color: $color-text-grey;
            line-height: 140%;
          }
        }
      }
    }
    .box__img {
      flex-basis: 45%;
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 10px 1.2fr;
      grid-template-rows: 1.2fr 1fr;
      gap: 15px;
      @media all and (min-width: 501px) and (max-width: 700px) {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @media all and (min-width: 280px) and (max-width: 500px) {
        width: 70%;
      }
      div {
        @media all and (min-width: 501px) and (max-width: 700px) {
          width: 70%;
        }
      }

      .img_l-top {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: flex-end;
        img {
          width: 100%;
        }
      }
      .img_r-top {
        grid-column: 2/4;
        grid-row: 1/2;
        align-self: flex-end;
        img {
          width: 100%;
        }
      }
      .img_l-bot {
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        img {
          width: 70%;
        }
        @media all and (min-width: 501px) and (max-width: 700px) {
          display: none;
        }
      }
      .img_r-bot {
        grid-column: 3/4;
        grid-row: 2/3;
        img {
          width: 90%;
        }
        @media all and (min-width: 501px) and (max-width: 700px) {
          display: none;
        }
      }
      // .img_l-top img,
      // .img_r-top img,
      // .img_l-bot img,
      // .img_r-bot img {
      //   @media all and (min-width: 280px) and (max-width: 700px) {
      //     width: 100%;
      //     align-items: center;
      //   }
      // }
    }
  }
}

//------------------------------------------------------Services
.container-services {
  background-color: $color-bg-services;
  text-align: center;
  padding: $padding-block;
  padding-top: 18vh;
  padding-bottom: 10vh;
  .container-services__title {
    @include title-h2($color-text-blu);
  }
  .container-services__wrap {
    margin: 8vh 0 8vh 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    .container-services__box {
      background-color: $color-text-white;
      box-shadow: 0px 10px 60px 0px #0000001a;
      border-radius: 5px;
      width: 16vw;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      z-index: 1;
      .container-services__icon {
        width: 21%;
        img {
          width: 100%;
        }
      }
      .container-services__subtitle {
        font-family: $font-main-reg;
        color: $color-text-blu;
        font-size: 16px;
      }
      .container-services__text {
        font-family: $font-main-light;
        color: $color-text-grey;
        font-size: 12px;
        line-height: 140%;
      }
      .container-services__link {
        a {
          text-decoration: none;
          font-family: $font-main-reg;
          color: $color-btn;
          font-size: 12px;
          line-height: 140%;
        }
      }
    }
    .container-services__icon-points {
      position: absolute;
      z-index: 0;
      width: 8vw;
      top: 13.5vh;
      left: 62.5vw;
    }
  }
  .container-services__button {
    a {
      @extend %button-link;
      img {
        width: $width-arrow;
      }
    }
  }
}

//---------------------------------------------------------Kitchen

.container-kitchen {
  width: 100vw;
  height: 82vh;
  background-image: url(../assets/images/bg-kitchen.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: $padding-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container-kitchen__title {
    @include title-h2($color-text-white);
    width: 60%;
    text-align: center;
    margin-bottom: 70px;
  }
  .container-kitchen__wrap {
    width: 100%;
    background-color: $color-text-white;
    border-radius: 10px;
    padding: 30px 80px 50px 80px;
    //------------------------------input tabs
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
    .container-kitchen__line {
      height: 3px;
      width: 100%;
      border-top: 0.5px solid $color-text-grey-light;
      margin-top: -1px;
    }

    #tab-lunch:checked ~ #lunch-catering-list,
    #tab-dinner:checked ~ #dinner-catering-list,
    #tab-breakfast:checked ~ #breakfast-catering-list {
      display: block;
    }

    label {
      padding-bottom: 20px;
      cursor: pointer;
      color: $color-text-grey;
      font-family: $font-main-reg;
      font-size: 12px;
      background: 0 0;
      border-bottom: 2px solid transparent;
    }

    label:hover {
      border-bottom-color: $color-btn-hover;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      cursor: default;
      color: $color-text-blu;
      border-bottom-color: $color-btn;
    }
    .container-kitchen__menu {
      display: none;
      width: 100%;
      //------------------------------input tabs (end)
      margin-top: 50px;
      .menu__wrap {
        display: flex;
        justify-content: space-between;
        .menu__list {
          flex-basis: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;
          .menu__item {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .menu__img {
              flex-basis: 50px;
              img {
                width: 100%;
              }
            }
            .menu__desc {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .menu__name {
                display: flex;
                justify-content: space-between;
                p {
                  font-family: $font-main-reg;
                  font-size: 16px;
                  color: $color-text-blu;
                }
                .menu__line {
                  flex-grow: 1;
                  border-bottom: 0.5px dashed $color-text-grey;
                  height: 16px;
                }
                .menu__price {
                  font-family: $font-main-light;
                  font-size: 16px;
                  color: $color-bg;
                  margin-left: 10px;
                }
              }
              .menu__comment {
                font-family: $font-footer;
                font-size: 12px;
                color: $color-text-grey;
              }
            }
          }
        }
      }
    }
  }
}

//---------------------------------------------------Video
.container-video {
  width: 100%;
  height: 60vh;
  padding: 0 30px 0 0;
  .container-video__wrap {
    width: 100%;
    height: 100%;
    background-color: $color-bg-video;
    padding: $padding-block;
    padding-top: 10vh;
    display: flex;
    gap: 5vw;
    .container-video__video {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
    .container-video__desc {
      flex-basis: 37%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4vh;
      .container-video__title {
        @include title-h2($color-text-blu);
      }
      .container-video__text {
        font-family: $font-main-light;
        font-size: 14px;
        color: $color-text-grey;
        line-height: 150%;
      }
      .container-video__button {
        @extend %button-link;
        width: 42%;
        img {
          width: $width-arrow;
          margin-left: 8px;
        }
      }
    }
  }
}

//-------------------------------------------------Online Store
.container-online {
  padding: $padding-block;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8vh;
  .container-online__title {
    @include title-h2($color-text-blu);
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
  }
  .container-online__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    .container-online__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      .online-card__img {
        position: relative;
        img {
          width: 98%;
        }
        .sale-50 {
          position: absolute;
          width: 30%;
          top: 10px;
          left: 63%;
          img {
            width: 100%;
          }
        }
      }
      .online-card__name {
        font-family: $font-main-reg;
        font-size: 14px;
        color: $color-text-blu;
      }
      .online-card__price {
        display: flex;
        justify-content: space-between;
        .online-card__value {
          font-family: $font-main-light;
          font-size: 14px;
          color: $color-text-grey;
        }
        .online-card__rating {
          img {
            width: 12px;
          }
        }
      }
    }
  }
  .container-online__button {
    a {
      @extend %button-link;
    }
    img {
      width: $width-arrow;
      margin-left: 10px;
    }
  }
}

//--------------------------------------------------------Comments
.container-comment {
  width: 100%;
  height: 60vh;
  padding: 8vh 12vw;
  .container-comment__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comment-card__box {
      width: 20vw;
      border-radius: 10px;
      box-shadow: 0px 10px 60px 0px #0000001a;
      padding: 35px 30px 25px 38px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      font-family: $font-main-reg;
      .comment-card__person {
        display: flex;
        gap: 15px;
        .comment-card__img {
          width: 50px;
          img {
            width: 100%;
          }
        }
        .comment-card__name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          .comment-card__name_green {
            color: $color-btn;
            font-size: 12px;
          }
          .comment-card__name_grey {
            color: $color-text-grey-light;
            font-size: 11px;
            line-height: 180%;
          }
        }
      }
      .comment-card__subtitle {
        color: $color-text-blu;
        font-size: 14px;
      }
      .comment-card__text {
        color: $color-text-grey;
        font-size: 11px;
        line-height: 150%;
      }
      .comment-card__rating {
        display: flex;
        gap: 10px;
        .comment-card__value {
          color: $color-text-yellow;
          font-size: 14px;
        }
        .comment-card__icons {
          img {
            width: 12px;
          }
        }
      }
    }
  }
  .container-comment__points {
    margin: 30px auto;
    width: 6vw;
    height: 8px;
    display: flex;
    justify-content: space-between;
    img {
      height: 100%;
    }
  }
}
/*---------------------------Subscribe------------------------------*/
.container-subscribe {
  .container-subscribe__border {
    border-top: 1px solid $color-line;
    height: 2px;
    margin: 0 18vw;
  }
  .box-sub {
    padding: $padding-block;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    .box-sub__text {
      flex-basis: 21vw;
      text-align: center;
      font-family: $font-main-reg;
      color: $color-text-blu-grey;
      font-size: 21px;
      line-height: 130%;
    }
    .box-sub__enter {
      flex-basis: 32vw;
      font-family: $font-main-reg;
      .box-sub__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .box-sub__email {
          width: 70%;
          height: 40px;
          padding-left: 15px;
          background-color: #edfcf4;
          border: 1px solid $color-bg-services;
          border-radius: 30px;
          font-family: $font-main-reg;
          font-size: 11px;
          outline: none;
        }
        .box-sub__email::placeholder {
          color: $color-text-blu;
          margin-left: 50px;
        }
        .box-sub__button {
          background-color: $color-btn;
          border-radius: 28px;
          border: none;
          height: 40px;
          color: $color-text-white;
          font-size: 12px;
          width: 28%;
        }
        .box-sub__button:hover {
          background: $color-btn-hover;
        }
        .box-sub__button:active {
          background: $color-btn-active;
        }
      }
      .box-sub__checkbox {
        color: $color-text-grey-light;
        font-size: 11px;
        input {
          margin-right: 5px;
          height: 10px;
        }
      }
    }
  }
}

/*---------------------------Map------------------------------------*/
.container-map {
  width: 100vw;
  height: 70vh;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

/*---------------------------Footer Nav------------------------------------*/
.footer {
  padding: $padding-block;
  margin-top: 30px;
  .footer__wrap-navigation {
    margin: 0 20px;
    height: 45px;
    border-bottom: 1px solid $color-line;
    display: flex;
    justify-content: space-between;
    .footer__nav {
      flex-basis: 35%;
      display: flex;
      justify-content: space-between;
      a {
        font-family: $font-footer;
        font-size: 12px;
        text-decoration: none;
        color: $color-text-grey;
      }
    }
    .footer__socials {
      flex-basis: 8%;
      display: flex;
      justify-content: space-between;
      a {
        img {
          height: 12px;
        }
      }
    }
  }
}
/*---------------------------Footer Menu-----------------------------------*/
.footer__wrap-menu {
  padding: 60px 20px;
  border-bottom: 1px solid #3633451a;
  display: flex;
  justify-content: space-between;
  .footer__menu {
    flex-basis: 65%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    .footer__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        font-family: $font-footer-title;
        font-size: 14px;
        color: $color-text-blu-grey;
        height: 40px;
      }
      .footer__items {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
          text-decoration: none;
          font-family: $font-footer;
          font-size: 13px;
          color: $color-text-grey;
        }
      }
    }
  }
  /*---------------------------Footer sidebar-----------------------------------*/
  .footer__sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h4 {
      font-family: $font-footer-title;
      font-size: 14px;
      color: $color-text-blu-grey;
      height: 40px;
    }
    p {
      font-family: $font-footer;
      font-size: 12px;
      color: $color-text-grey;
      letter-spacing: 0.5px;
      line-height: 20px;
      width: 8vw;
      text-align: end;
    }
  }
}
/*---------------------------Footer text-----------------------------------*/
.footer__text {
  width: 65%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $font-footer;
  font-size: 12px;
  p {
    color: $color-text-grey;
  }
  a {
    text-decoration: none;
    color: $color-text-blu-grey;
  }
}
/*---------------------------End-----------------------------------*/
